$font-path: '../fonts' !default;

$ticker-height: 33px;
$font-size-base: 0.8rem;
$font-weight-base: normal;
$line-height-base: 1.1;
$body-color: #222;
$body-bg: #FFF;

$headings-margin-bottom: 1.5rem;
$paragraph-margin-bottom: 1rem;

$link-color: black;
$link-decoration: none;
$link-hover-color: black;
$link-hover-decoration: none;

$font-family-base: 'Simplon';
$font-family-led: 'LEDCounter7';

$site-padding-horizontal: 25px;

$z-index-ticker: 1000;

$screen-bp-horizontal: 800px;
$screen-bp-vertical:   780px;